/* Site Styles Go Here */

.footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-item-flex {
    flex: 0 1 auto;
}

img:hover {
    transform: scale(1.1);
    transition: .1s ease-in-out;
}


.card-header {color:hover;
    background: #6f53ea5e;
}